<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SeoEun-hw5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D6A22AA1E61D6AA00442827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D6A22C11E61D6AA00442827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D6A22CC1E61D6AA00442827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
